.app {
  height: 100%;
  padding: 0 17% 10%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  font-family: Work Sans, sans-serif;
  font-weight: 500;
  color: #fff;
}

.resultContainer {
  padding: 0;
  width: 100%;
  display: flex;
}
